@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: #FDFFFC;
    --dark: #212738;
    --purpple: #ED217C;
    --blue: #1282A2;
    --light-blue: #1B9AAA;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body {
    background-color: var(--background);  
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 3%;
}

.text {
    color: var(--dark);
}

.left h2 {
    font-weight: 900;
    font-size: 1.7rem;
    word-spacing: .5rem;
}

.left .content {
    margin: 5%;
    max-width: 85%;
    font-size: .9rem;
    line-height: 1.2rem;
    font-weight: 500;
}

.left .content .small {
    font-size: small;
    line-height: 1rem;
    margin: 2% 0;
}

.left strong {
    color: var(--purpple);
}

.inputs {
    display: flex;
    justify-content: left;
}

.inputs .button {
    margin-left: 5%;
    background-color: var(--purpple);
    border: none;
    padding: 10px 15px;
    font-size: .7rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.inputs .button p {
    color: white;
    font-weight: 600;
}

.file {
    position: relative;
}

.file input {
    cursor: pointer;
    opacity: 0;
    border: 1px solid;
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
}

/* ------------ Estilização do grafo -------------*/
#canvas {
    position: relative;
    width: 600px;
    height: 600px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    margin-top: 20px;
    border-radius: 20px;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    pointer-events: none;
}

.point {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--purpple);
    color: white;
    font-size: .7rem;
    font-weight: 600;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.point.start {
	background-color: green;
	color: white;
	font-weight: bold;
}

.point.end {
	background-color: red;
	color: white;
	font-weight: bold;
}

.highlight {
    z-index: 3;
    background-color: var(--blue);
}

line {
    stroke-width: 3;
}

.highlight-edge {
    stroke: var(--light-blue) !important;
}

.right .block {
    width: 560px;
    background-color: white;
    margin-top: -30px;
    padding: 45px 20px 20px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 0 0 20px 20px;
}

.right .block .caminho {
    font-weight: 700;
    color: var(--blue);
    margin-right: 10px;
}

.right .block #resultado {
    color: var(--light-blue);
    font-weight: 500;
}