body {
    font-family: sans-serif;
    padding: 20px;
    font-weight: bold;
}
#canvas {
    position: relative;
    width: 600px;
    height: 600px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    margin-top: 20px;
}
.point {
    position: absolute;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    color: red;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    pointer-events: none;
}
.highlight {
    z-index: 3;
    background-color: red;
    color: white;
}
.highlight-edge {
    stroke: red !important;
    stroke-width: 3 !important;
}